services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: ./server
    container_name: api
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://mongo:27017/code_quiz
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  frontend:
    build: .
    container_name: frontend
    restart: unless-stopped
    ports:
      - "5173:5173"
    depends_on:
      - api
    command: ["npm","run","dev","--","--host","0.0.0.0","--port","5173"]

volumes:
  mongo_data: